<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #dbdbdb;
            overflow-x: hidden;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 0px 0px 0px 0px;
                text-decoration: none;
                font-size: 17px;
                font-family: 'Arial Rounded MT';
                color: #000;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 100px; /* Same as the width of the sidenav */
        }

    
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/shield Logo.png" class="img-center" height="50" width="70" />
                <img src="~/Content/Images/Federated insurance word image.png" class="img-center" height="50" width="200" />
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li style="float:right">@Html.ActionLink("LOGOUT", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidenav">
        <center><img src="~/Content/Images/user image.png" class="img-center" height="150" width="150" /></center>
        <p style="text-align: center"> Lname, FName </p>
        <ul>
            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
            <hr />
            <li>@Html.ActionLink("OVERVIEW", "Overview", "Home")</li>
            <hr />
            <li>@Html.ActionLink("SUBMIT PERFOMANCE", "SubmitPR", "Home")</li>
            <hr />
            <li>@Html.ActionLink("RANK STRUCTURE", "RankStructure", "Home")</li>
            <hr />
            <li>@Html.ActionLink("HISTORY", "History", "Home")</li>
        </ul>
    </div>

    <div class="container body-content" style="margin-left: 200px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
